header {
  background-color: #068702;
  border-bottom: solid 0.3em;
  border-color: #353535;
}
header img {
  width: 100%;
}
header h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
}
header .logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  height: 2em;
  padding: 0.4em;
  width: 2em;
}
header .titulo_medio {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 80%;
}
fieldset {
  width: 100%;
  height: 3em;
  background-color: #f00;
}
.contenido {
  width: 100%;
  border-radius: 10px;
}
.lis {
  word-wrap: break-word;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.lisinterno {
  background-color: #5cca51;
}
.lisinterno1 {
  background-color: #5cca51;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.lisinterno2 {
  background-color: #5cca51;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.lis2 {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pagina_index {
  background-color: #fdf;
  background: -webkit-linear-gradient(top, #aae1ff 0%, #d3f0ff 50%, #fff 100%);
  margin: 0 auto 0 auto;
}
#color-page {
  background: #008000;
}
#contenido-temas {
  padding: 1em;
  padding-bottom: 3.5em;
}
#slider {
  display: none;
}
#recording {
  font-weight: bold;
  color: #f00;
}
div.ui-slider {
  margin: 0;
  width: 100%;
}
