@import "iconos_met.styl"


body:before 
  content: ""
  position: fixed
  top: -10px
  left: 0
  width: 100%
  height: 10px
  z-index: 100
  -webkit-box-shadow: 0px 0px 10px red
  -moz-box-shadow: 0px 0px 10px red
  box-shadow: 0px 0px 10px red

header
  background-color: #008410
  border-bottom: solid 0.3em;
  border-color: #fff

  img
    width 100%
  
  h1
    font-size: 20px    
    text-align: center
    color: #fff

  .logo
    display inline-block
    margin 0
    padding 0
    vertical-align top
    height 2em
    padding 0.4em
    width  2em

  .titulo_medio
    display inline-block
    margin 0
    padding 0
    vertical-align top
    width: 80%
fieldset
  width: 100%
  height: 3em
  background-color: rgba(195, 229, 151, 0.8)
  text-decoration: none
  color: red
  text-align: center
.contenido
  width: 100%
  border-radius: 10px
  
#botones  
  margin-top:3em
  width: 100%

#itulo_qiz1
  margin-bottom: 9em
  text-align: center
  font-size:1.2em
 
 
.lis
  word-wrap: break-word
  -webkit-border-top-left-radius: 10px
  -webkit-border-top-right-radius: 10px
  -moz-border-radius-topleft: 10px
  -moz-border-radius-topright: 10px
  border-top-left-radius: 10px
  border-top-right-radius: 10px
#content-primary
  margin:2em
.lisinterno
  background-color: rgb(92, 202, 81)

.lisinterno1
  background-color: rgb(92, 202, 81)
  -webkit-border-top-left-radius: 10px
  -webkit-border-top-right-radius: 10px
  -moz-border-radius-topleft: 10px
  -moz-border-radius-topright: 10px
  border-top-left-radius: 10px
  border-top-right-radius: 10px

.lisinterno2
  background-color: rgb(92, 202, 81)
  -webkit-border-bottom-right-radius: 10px
  -webkit-border-bottom-left-radius: 10px
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-bottomleft: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px

.lis2
  -webkit-border-bottom-right-radius: 10px
  -webkit-border-bottom-left-radius: 10px
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-bottomleft: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px

.droped_logic
  background-color: red

.pagina_index  
  background-image: url('../images/fondo9.PNG')
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-color: -webkit-linear-gradient(top, #AAE1FF 0%, #D3F0FF 50%, #FFFFFF 100%)
  margin: 0 auto 0 auto
  height: 100%
  min-height: 640px

#color-page
  background: green

#contenido-temas
  padding: 1em
  padding-bottom: 3.5em

#slider
  display: none
#recording
  font-weight: bold
  color: #f00

div.ui-slider
  margin: 0
  width: 100%


#ok1, #ok2, #ok3, #ok4, #ok5 
  font-size: 1.2em
  color: green
  display: none
  text-decoration: none

#bad1, #bad2, #bad3, #bad4, #bad5 
  font-size: 1.2em
  color: red
  display: none
  text-decoration: none
.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12, .div13, .div14, .div15, .div16, .div17, .div18, .div19, .div20
  border: dashed 1px
  border-color: black
  display: inline-block
  cursor: pointer 
  font-size: 1em
  font-style: bold
  color: black
  background-color: rgb(122, 184, 176)
  min-width: 50px  
  margin: 0.5em
  padding: 0.2em  
  // border-radius:10px
  text-align: center
  
#drag, #drop
  padding-bottom: 1em
  margin-bottom: 0.5em
  border: solid  1px
  display: inline-block
  width: 100%

.div_R1, .div_R2, .div_R3, .div_R4, .div_R5, .div_R6, .div_R7, .div_R8, .div_R9, .div_R10, .div_R11, .div12, .div13, .div_R14, .div_R15, .div_R16, .div_R17, .div_R18, .div_R19, .div_R20
  border: dashed 1px
  display: inline-block
  font-size: 1em
  font-style: bold
  //background-color: blue
  // min-width: 90px
  height: 2.5em
  margin: 0.3em
  padding: 0.1em 
  text-align: center
  width: 19%

.encaezado_quiz2 
  display: block
  font-size: 1.2em

  color: green
  text-align: center
.subtitulo
  display:block
  color:blue
  text-align:center 
  font-size:1em

.header_boton
  display: inline-block
  width:100%

.icono-users
  display: inline-block
  font-size: 2.5em
  border: solid 1px
  color: green
  padding: 0.2em
  margin: 0.2em
.icono-home
  display: block
  font-size:4em
  color:green
  text-align: center  
.mensaje_fin
  font-size: 1.5em
  color: #fff
  text-align: center
  display: block
  margin-bottom: 3em